*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    color: black;
    background-color: darkgreen;

}
ul{
    display: flex;
    gap: 30px;
}
li{
    list-style-type: none;
}
.Home{
    background-image: url(media/GM.jfif);
    height: 100vh;
}
h1{
   text-align: center;
}
.page{
    background-color: aquamarine;
    width: 100%;
}