*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: chocolate;

}
ul{
    display: flex;
    gap: 30px;
}
li{
    list-style-type: none;
}