*{
    margin: 0;
    padding: 0;
}
.box1{
    width: 100px;
    height: 100px;
    /* background-color: brown; */
    box-shadow: inset black 0px 2px 2px 0px;
    position: absolute;
    left: 500px;
    top: 300px;



}
.gen{
    padding: 40px;
    display: flex;
    gap: 100px;
    position: relative;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 1000px;
    top: 400px;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
}
.box4{
    width: 100px;
    height: 100px;
    background-color: darkorange;
}
.box{
    width: 100px;
    height: 60px;
    border: 1px solid black;
}
.bb{
    width: 80px;
    height: 40px;
    border: 1px solid black;
}
.gen2{
    padding: 20px;
}